{% extends 'home_dad.html' %}
{% load static %}

{% block title %}LeoArts | Home{% endblock %}

{% block content %}
<div class="cont">
    <div class="space" style='height: 20px;'></div>
    
    <a href="pulsera/">
        <button class='log button'>
            <div class="icon" style='color: #004939;'>Bisuteria</div>
        </button>
    </a>
    
    <a href="soon/">
        <button class='log button'>
            <div class="icon" style='color: #004939;'>Proximamente</div>
        </button>
    </a>
    
    <a href="us/">
        <button class='sign button'>
            <div class="icon" style='color: #004939;'>Acerca de</div>
        </button>
    </a>
    
</div>
{% endblock %}